<span>
	{{#each items~}}
		{{~#if href~}}
			<a href="{{href}}" target="_blank">{{{contents}}}</a>
		{{~else~}}
			<span>{{{contents}}}</span>
		{{~/if~}}
		{{~#unless @last}}, {{/unless~}}
	{{~/each}}
</span>