* {
  transition: none 0.3s ease;
  box-sizing: border-box;
}

html {
  font-family: "museo-sans-rounded", "Arial Rounded MT Bold", Helvetica;
  font-weight: 500;
  font-size: 110%;

  @media (--medium-small) { font-size: 120%; }
  @media (--medium-large) { font-size: 130%; }
}

body {
  min-height: 100vh;
  line-height: 1.6em;
  color: var(--color-dark);
}

html,
body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	font-weight: 900;
}

h5, h6 {
	font-weight: 700;
}

h1 { font-size: 2.4em; line-height: 1.4em; }
h2 { font-size: 2.0em; line-height: 1.4em; }
h3 { font-size: 1.6em; line-height: 1.3em; }
h4 { font-size: 1.5em; line-height: 1.2em; }
h5 { font-size: 1.4em; line-height: 1.2em; }
h6 { font-size: 1.1em; line-height: 1.1em; }

p {
  line-height: 1.6em;
}

ul, ol {
  line-height: 1.2em;
}

a {
  color: var(--color-blue);
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: underline;
	}


}

hr {
	display: block;
	height: 2px;
	border: none;
	background-color: #eee;
}
